body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../img/bckdrop.jpg");
  background-size: cover;
}

.container {
  width: 30vw !important;
  height: 80vh !important;
  border: 1px solid #ccc;
  background-color: rgba(80, 200, 120);
}
